<!DOCTYPE html>
<html>
  <head>
    <title>DialyDude</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: 'all', "data-turbolinks-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
    <a class="navbar-brand text-white" href="#">ロゴ</a>

    <!-- ナビゲーションバーのトグルボタン -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- ナビゲーションバーのリンクとプルダウンリスト -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link text-white" href="#">ホーム</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">ブログ</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ドロップダウン
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">アイテム1</a>
            <a class="dropdown-item" href="#">アイテム2</a>
            <div class="dropdown-divider"></div>
            <% if user_signed_in? %>
                <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete}, class: 'dropdown-item' %>
                <%= link_to '新規投稿', new_post_path, class: 'dropdown-item' %>
            <% else %>
                <%= link_to '管理者ページ', new_user_session_path, class: 'dropdown-item' %>
            <% end %>
            </div>
        </li>
        </ul>
    </div>
    </nav>

    <%= yield %>

    <footer class="footer bg-dark text-light text-center py-3">
        <div class="container">
            <p>&copy; 2023 DailyDude </p>
            <p>連絡先: あとで設定します（工事中）</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    </body>
</html>
